{% extends 'admin_nav.html' %}
{% load static %}
{% block content %}
<style>
.container1{
    background-color:rgb(201, 196, 196);
    border-radius:8px;
    }

h2,h4{
    padding:10px;
    }

.mydiv:hover{
    transform:translateY(-10px)
    }

.glow{
    font-size : 20pt;
    color : #fff;
    text-align : center;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate; /* Safari */
    animation: glow 1.5s ease-in-out infinite alternate; /* Standard */
    }

@keyframes glow { 
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
                     0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
                     0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@-webkit-keyframes glow { 
    from{
        text-shadow : 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
        0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to{
        text-shadow : 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
        0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

</style>
<br><br>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-3 text-center mydiv">
            <div class="container1">
                <h2 class="text-primary">{{pn}}</h2>
                <a href="{% url 'pending' %}"><h4 class="text-dark">Pending Notes</h4></a> 
            </div>
        </div>

        <div class="col-sm-3 text-center mydiv">
            <div class="container1">
                <h2 class="text-primary">{{an}}</h2>
                <a href="{% url 'accepted' %}"><h4 class="text-dark">Accepted Notes</h4></a>
            </div>
        </div>

        <div class="col-sm-3 text-center mydiv">
            <div class="container1">
                <h2 class="text-primary">{{rn}}</h2>
                <a href="{% url 'rejected' %}"><h4 class="text-dark">Rejected Notes</h4></a>
            </div>
        </div>

        <div class="col-sm-3 text-center mydiv">
            <div class="container1">
                <h2 class="text-primary">{{alln}}</h2> 
                <a href="{% url 'all_notes' %}"><h4 class="text-dark">All Notes</h4></a>
            </div>
        </div> 
    </div> 
</div>

<footer class="container text-center mt-5">
    <p style="font-size:20pt; color:red; font-weight:bold;" >Copyright &copy;
        <script> document.write(new Date().getFullYear());</script> All Right Reserved <span style="color:brown;">|</span>
        <span style="color:green">This website is <br> made with <i class="fas fa-heart icon-heart text-warning "> by </i></span>
        <a class="glow" href="#" target="_blank">Abhishek Thakare.</a></p>

</footer>
{% endblock %}