{% extends 'usernavigation.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
     <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'css/images/note5.jpg' %}" style="width:90%; height:400px;">
        </div>

         <div class="col-sm-6">
             <h2 class="text-center">Change Password</h2> 
             <hr>
             {% if error %}
             <div class="alert alert-danger">{{ error }}</div>
             {% endif %}
             <form method="post">
                 {% csrf_token %}
                 <label>Old Password</label><br>
                        <input type="password" placeholder="Enter Old Password" name="old_password" class="form" style="width:80%; height:5vh;"><br>

                 <label>New Password</label><br>
                        <input type="password" placeholder="Enter New Password" name="new_password1" class="form" style="width:80%; height:5vh; color:black;"><br>
                 <label>Confirm New Password</label><br>
                        <input type="password" placeholder="Enter Confirm Password" name="new_password2" class="form" style="width:80%; height:5vh; color:black;"><br>
                 <input type="submit" class="btn btn-danger mt-2" value="Change Password" style="width:30%;">
             </form>
         </div>
    </div>
</div>

{% endblock %}