{% extends 'navigation.html'%} 
{% block content %}
{% load static%} 

<link rel="stylesheet" href="{% static 'css/style.css'%}">
<div class="image">
    <img src="{% static 'css/images/note2.png' %}">
    <div class="transparentbox">
        <p>File Sharing Site</p> 
    </div>
</div>
<h4 class="text-center mt-5 mb-4 text-danger">Just 4 step to follow </h4>

<div class="container mt-7"> 
    <div class="row">
        <div class="col-sm-3">
            <div class="box1"> 
                <p class="circle"><i class="  fas fa-user-circle mt-4" style="font-size : 25px;"></i></p>
                <p class="lastcircle " style="font-size : 18px">Create Account</p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="box1">
                <p class="circle"><i class="  fas fa-sign-in-alt mt-4" style="font-size : 25px;"></i></p>
                <p class="lastcircle " style="font-size : 18px"> Login </p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="box1">
                <p class="circle"><i class="  fas fa-upload  mt-4" style="font-size : 25px;"></i></p>
                <p class="lastcircle " style="font-size : 18px"> Upload Notes </p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="box1">
                <p class="circle"><i class="  fas fa-download mt-4" style="font-size : 25px;"></i></p>
                <p class="lastcircle " style="font-size : 18px"> Download Notes </p>
            </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock %}
