{% extends 'usernavigation.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'css/images/note4.png' %}" style="width:90%; height:400px; margin-top: 100px;">
        </div>

        <div class="col-sm-6">
            <h2 class="text-center">User Profile</h2> 
            <hr>
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>Full Name</th>
                            <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ request.user.email }}</td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td>{{ request.user.username }}</td>
                        </tr>
                        {% if signup %}
                        <tr>
                            <th>Contact</th>
                            <td>{{ signup.contact }}</td>
                        </tr>
                        <tr>
                            <th>Branch</th>
                            <td>{{ signup.branch }}</td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td>{{ signup.role }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Last Login</th>
                            <td>{{ request.user.last_login }}</td>
                        </tr>
                        <tr>
                            <th>Join Date</th>
                            <td>{{ request.user.date_joined }}</td>
                        </tr>
                        <tr>
                            <th>Date Of Birth</th>
                            <td> {{signup.dob }} </td> 
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td> {{signup.gender }} </td> 
                        </tr>
                    </table>
                    <div class="text-center mt-3">
                        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                        <a href="{% url 'index'%}" class="btn btn-success">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}