{% extends 'navigation.html'%}
{% load static %} 
{% block content%}
<div class="container mt-5"> 
     <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">EXISTING CUSTOMERS</h2>
            <hr>
            <p> By creating an account with our website, you will be able to move through the notes uploading
                and downloading process and more...</p>
            <center><a href="{% url 'login'%}" class="btn btn-danger text-white mt-5">CREATE AN ACCOUNT </a></center> 
        </div>

         <div class="col-sm-6">
             <h2 class="text-center"> REGISTER WITH US  </h2>
             <hr>
             {% if error %}
                     <div class="alert alert-danger">{{ error }}</div>
              {% endif %}

              {% if messages %}
                     {% for message in messages %}
                            <div class="alert alert-danger">{{ message }}</div>
                     {% endfor %}
              {% endif %}
             <p>If you here not an account with us, please signup...</p>
             <form method="post">
                 {% csrf_token %}
                 
                 <lable>Full Name</lable> <br> 
                        <input type="text" placeholder="Enter Full Name" name="fullname" class="form" style="width:80%; height:5vh;" required><br>

                 <lable>User Name</lable> <br>
                        <input type="text" placeholder="Enter Username " name="username" class="form" style="width:80%; height:5vh;" required><br>

                 <lable>Email ID </lable> <br> 
                        <input type="email" placeholder="Enter Email" name="emailid" class="form" style="width:80%; height:5vh; color:black;" required> <br>

                 <lable>Password</lable> <br>
                        <input type="password" placeholder="Enter Password" name="password1" class="form" style="width:80%; height:5vh; color:black;"> <br>

                 <lable>Confirm Password</lable> <br>
                        <input type="password" placeholder="Enter Confirm Password" name="password2" class="form" style="width:80%; height:5vh; color:black;"> <br>

                 <label>Date Of Birth</label> <br>
                        <input type="date" placeholder="Enter Date Of Birth" name="dob" class="form" style="width:80%; height:5vh; color:black;"><br> 

                 <label>Gender</label> <br>
                 <div class="form-check">
                     <input class="form-check-input" type="radio" name="gender" value="Male" id="flexCheckDefault">
                     <label class="form-check-label" for="flexCheckDefault">Men</label> &nbsp; &nbsp; &nbsp; 

                     <input class="form-check-input" type="radio" name="gender" value="Female" id="flexCheckChecked">
                     <label class="form-check-label" for="flexCheckChecked">Female</label> 
                 </div>
                 
                 <label>Age</label><br>
                 <input type="number" name="age" required> <br>
                 <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">  <br>
                 <a href="{% url 'adminlogin' %}" style="color:black; font-family:cursive;">I have already account</a> 
             </form>
         </div>
    </div>
</div>
{% endblock %}
