<html lang="en">
<head>
  {% load static %}
  <title>File Sharing Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<nav class="navbar navbar-expand-sm" style="background-color: lightgrey">
<ul class="navbar-nav">
  <li class="navbar-item">
    <a class="nav-link" href="{% url  'index' %}">HOME</a>
  </li>

  <li class="navbar-item">
    <a class="nav-link" href="{% url 'uploadnote' %}">UPLOAD NOTES</a> 
  </li>

  <li class="navbar-item">
    <a class="nav-link" href="{% url 'view_mynotes' %}">VIEW MY NOTES</a>
  </li>

  <li class="navbar-item">
    <a class="nav-link" href="{% url 'view_user' %}">VIEW USERS</a>
  </li>

  <li class="navbar-item">
    <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
  </li>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="position:property; left:15px;">Welcome {{request.user.username}}</button>
    <div class="dropdown-menu">
      <a href="{% url 'user_profile' %}" class="dropdown-item">PROFILE</a>
      <a href="{%  url 'edit_profile' %}" class="dropdown-item">EDIT PROFILE</a>
      <a href="{% url 'change_password' %}" class="dropdown-item">CHANGE PASSWORD</a>
    </div>
  </div>
</ul>
</nav>
</body>
</html>
{% block content %}
{% endblock %}